name: Build Artifactbundle

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Run script
        run: |
          python buildBundle.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifactbundle
          path: ./*.zip

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: artifactbundle
          path: .

      - name: Create GitHub Release and upload asset
        uses: softprops/action-gh-release@v2
        with:
          files: "*.zip"
          generate_release_notes: false
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
